* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-anchor: none;
}

#sect1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 100vh;
  width: 100%;
  background-image: url(./ressources/images/oeuvre.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 1000px) {
  #sect1 {
    background-attachment: scroll;
  }
}

#sect1::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-image: url(./ressources/images/splash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
}

#sect1 img {
  position: absolute;
  margin-top: 30px;
  width: 200px;
  max-width: 80%;
  height: auto;
}

@font-face {
  font-family: "paint";
  src: url(./ressources/font/BLUE\ PAINT.otf);
}

/******************************************************sect2************************************************/

#sect2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
  width: 100%;
  margin-top: 100px;
}

#sect2:target {
  padding-top: 80px;
  margin-top: -80px;
}

#mobileCategorie {
  display: none;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin-top: 100px;
}

#mobileCategorie:target {
  padding-top: 80px;
  margin-top: -80px;
}

.contenerMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 70vh;
  width: 100%;
}

.catégorie1,
.catégorie2,
.catégorie3,
.catégorie4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  width: 550px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  background-position: center;
  background-size: cover;
  text-shadow: black 25px 25px 25px;
  color: whitesmoke;
}

.catégorie1 {
  background-image: url(./ressources/images/peinture1.jpg);
}
.catégorie2 {
  background-image: url(./ressources/images/floor1.jpg);
}
.catégorie3 {
  background-image: url(./ressources/images/oeuvre.jpg);
}
.catégorie4 {
  background-image: url(./ressources/images/façade.jpg);
}

.catégorie1 p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  width: 80%;
}

.catégorie1 h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.catégorie2 p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  width: 80%;
}

.catégorie2 h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.catégorie3 p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  width: 80%;
}

.catégorie3 h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.catégorie4 p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  width: 80%;
}

.catégorie4 h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

@media (max-width: 900px) {
  #sect2 {
    display: none;
  }
  #mobileCategorie {
    display: flex;
  }
}
.titreSect2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "paint";
  align-self: center;
  font-size: 15px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-bottom: 150px;
  border-radius: 50%;
  border: solid 3px #e4d2c4;
  background-color: #e4d2c4;
}

.contener {
  position: relative;
  margin-top: 0;
  width: 100%;
  min-height: 150vh;
}

.cercle {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 2s ease-in-out;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .cercle {
    background-attachment: scroll;
  }
}

.cercle.cercle1 {
  background-image: url(./ressources/images/peinture.jpg);
  clip-path: circle(100px at 20% center);
}

.cercle.cercle2 {
  background-image: url(./ressources/images/floor.jpg);
  clip-path: circle(100px at 40% center);
}

.cercle.cercle3 {
  background-image: url(./ressources/images/oeuvre.jpg);
  clip-path: circle(100px at 60% center);
}

.cercle.cercle4 {
  background-image: url(./ressources/images/façade.jpg);
  clip-path: circle(100px at 80% center);
}

#return,
#return1,
#return2,
#return3 {
  font-size: 40px;
  margin-top: 120px;
  color: white;
}

#return:hover {
  color: black;
}

#return1:hover {
  color: black;
}

#return2:hover {
  color: black;
}

#return3:hover {
  color: black;
}

.text,
.text1,
.text2,
.text3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 4s;
  width: 500px;
  max-width: 80%;
  min-height: 300px;
  color: black;
  font-size: 15px;
  text-align: center;
  background-color: whitesmoke;
  opacity: 0;
}

.text p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.text h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
}

.text1 p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.text1 h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
}

.text2 p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.text2 h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
}

.text3 p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.text3 h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
  text-transform: uppercase;
}

/******************************************************formulaire************************************************/

#sect4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 150px;
}
#sect4:target {
  padding-top: 80px;
  margin-top: -80px;
}
#sect4 .titreSect2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "paint";
  align-self: center;
  font-size: 15px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-bottom: 150px;
  border-radius: 50%;
  border: solid 3px #e4d2c4;
  background-color: #e4d2c4;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-image: url(./ressources/images/contact.jpg);
  background-size: cover;
  background-position: right;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  min-height: 60vh;
}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

.input input {
  margin-bottom: 20px;
  border: #e4d2c4 3px solid;
}

.saisie > * {
  width: 70%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  min-width: 300px;
}

.textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40vh;
  min-width: 300px;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: auto;
  border: #e4d2c4 3px solid;
}

.saisie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 300px;
  height: 50vh;
}

.bouton {
  position: relative;
  background-color: whitesmoke;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 15px;
  letter-spacing: 5px;
  color: #e4d2c4;
  margin: 20px;
}

.bouton span {
  position: absolute;
  background-color: #e4d2c4;
}

.bouton span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.25s;
}

.bouton:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.25s;
}

.bouton span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.bouton:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
}

.bouton span:nth-child(3) {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s;
}

.bouton:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.25s;
}

.bouton span:nth-child(4) {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

.bouton:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.25s;
}

.bouton:hover {
  background-color: #e4d2c4;
  color: white;
  transition: 1s ease-in-out;
  cursor: pointer;
}

/***********************************parralax************************************************************/
.titreSectParralax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "paint";
  align-self: center;
  font-size: 15px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #e4d2c4;
  margin-bottom: 120px;
  background-color: #e4d2c4;
}

#parralax {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
  width: 100%;
  font-size: 40px;
  margin-bottom: 120px;
}
#parralax:target {
  padding-top: 80px;
  margin-top: -80px;
}
#parralax2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
  width: 100%;
  font-size: 40px;
}

#parralax .parralaxTitre,
#parralax2 .parralaxTitre2 {
  margin-left: 200px;
  font-size: 2em;
  margin-bottom: 20px;
  position: relative;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

@media (max-width: 600px) {
  #parralax .parralaxTitre,
  #parralax2 .parralaxTitre2 {
    margin-left: 5px;
    font-size: 1em;
  }

  #PP1 {
    font-size: 15px;
    color: white;
  }
  #PP2 {
    font-size: 15px;
    color: white;
  }
}

.parralaxContent,
.parralaxContent2 {
  position: relative;
  width: 1000px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imgBox {
  position: relative;
  width: 800px;
  height: 400px;
}

#imgBox2 {
  position: absolute;
  width: 800px;
  height: 400px;
  top: 0;
  right: 0;
}

#imageParralax,
#imageParralax2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parralaxText {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 300px;
  margin-bottom: 20px;
  background-color: rgb(44, 39, 39);
  z-index: 1;
  width: 400px;
  max-width: 80%;
  border-bottom: 6px black solid;
  padding: 40px;
}

.parralaxText2 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 300px;
  margin-bottom: 20px;
  background-color: rgb(44, 39, 39);
  z-index: 1;
  width: 400px;
  max-width: 80%;
  border-bottom: 6px black solid;
  padding: 40px;
}

.parralaxText p,
.parralaxText2 p {
  font-size: 18px;
  color: white;
}

/************************************************footer*************************************************/

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.reseaux {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  height: 100px;
  border-top: #e4d2c4 solid 2px;
  border-bottom: #e4d2c4 solid 2px;
}

.facebook,
.instagram,
.linkedin {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.facebook span,
.instagram span,
.linkedin span {
  position: absolute;
  background-color: #e4d2c4;
}

.facebook span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.facebook:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
}

.facebook span:nth-child(4) {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

.facebook:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.25s;
}

.instagram span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.instagram:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
}

.instagram span:nth-child(4) {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

.instagram:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.25s;
}

.linkedin span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.linkedin:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
}

.linkedin span:nth-child(4) {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

.linkedin:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.25s;
}

a {
  text-decoration: none;
  color: black;
}

.comm a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 100px;
}

.comm > * {
  font-family: "NeonFuture";
}

@font-face {
  font-family: "NeonFuture";
  src: url("./ressources/font/NeonF.ttf");
}
/**************** header******************/

@keyframes apparition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 5;
  animation: apparition 5s;
  transition: 2s ease-in-out;
}

#logo {
  height: auto;
  width: 150px;
  margin-left: 10px;
}

/*navbarResponsive*/

#responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100px;
}

#boutonMenu {
  color: black;
  font-size: 30px;
}

#boutonMenu:hover {
  color: #e4d2c4;
  cursor: pointer;
}

#croix:hover {
  color: black;
  cursor: pointer;
}

#croix {
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 15px;
}

#menuResponsive {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: #e4d2c4;
  z-index: 50;
  animation: cover 1s;
  font-family: "rallway";
}

#mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

.reseauMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 100px;
}

.reseauMenu a > * {
  font-size: 30px;
  animation: lien 5s;
}

#liens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 100%;
}

#liens > * {
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 20px;
  animation: lien 5s;
  font-family: "Raleway", sans-serif;
}

#liens > *:hover {
  color: black;
}

@keyframes lien {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes cover {
  from {
    height: 0vh;
    opacity: 0.7;
  }

  to {
    height: 100vh;
    opacity: 1;
  }
}

.navResponsive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
}

.navResponsive div {
  height: 80px;
  width: 180px;
}

@media (max-width: 1030px) {
  header {
    justify-content: space-between;
  }

  #responsive {
    display: flex;
  }

  #logo {
    margin-left: 15px;
  }
}

/************************************************carroussel**************************************************************/
#sectCarroussel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 150vh;
}
#sectCarroussel:target {
  padding-top: 80px;
  margin-top: -80px;
}

#carroussel {
  margin-top: 100px;
  width: 500px;
  max-width: 80%;
  overflow: hidden;
  border: black 3px solid;
  border-radius: 5px;
  position: relative;
}

.corpsCarroussel {
  display: flex;
  width: 500px;
  height: 500px;
   
}

.corpsCarroussel img {
  
  height: 100%;
  width: 100%;
}

#gauche {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-left: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.8;
}

#droite {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  margin-right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.8;
}


@media (max-width: 600px) {

#carroussel{
  
  width: 300px;
  
}

}